@import '../../style/mixins.less';

:root {
  --size-sidebar: var(--size-xl);
  --size-sidebar-icon: var(--size);
  --color-background-sidebar: black;
}

.sidebar {
  background-color: var(--color-background-sidebar);
  color: white;
  position: relative;
  padding: var(--padding) 0;

  @media print {
    display: none;
  }
}

.inner {
  .hideScrollbars();
}

.title,
.subtitle,
.label {
  transition:
    opacity 0.2s,
    max-height 0.2s,
    margin 0.2s,
    color 0.2s;
  max-height: 50px;

  .collapsed & {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.title {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  font-size: var(--font-size-xl);
  padding: 0 var(--padding);
}

.subtitle {
  margin-bottom: var(--padding-xs);
  white-space: nowrap;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing-wide);
  color: var(--color-neutral-700);
  padding: 0 var(--padding);
}

.list {
  margin-bottom: var(--padding-xl);
  margin-top: 0;
  position: relative;
  z-index: 1; // Ensure icons appear above hidden headings when drawer is collapsed
}

.item {
  transition:
    padding 0.2s,
    color 0.2s;
  font-size: var(--font-size-lg);
  font-weight: normal;
  display: flex;
  padding: 0 var(--padding-xxs);
  align-items: center;
  color: var(--color-neutral-500);

  .collapsed & {
    padding: 0;
  }

  &:hover {
    color: var(--color-neutral-200);
  }

  &.experimental {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(white, 0.1) 8px,
      rgba(white, 0.1) 16px,
      transparent 16px,
      transparent 24px
    );
  }

  &:active,
  &.active {
    color: var(--color-neutral-0);
    background-color: var(--color-primary-700);
  }
}

.icon {
  line-height: 0;
  flex-shrink: 0;
  display: flex;
  width: var(--size-sidebar);
  justify-content: center;
  font-size: var(--size-sidebar-icon);
  padding: var(--padding-xxs) 0;

  svg {
    stroke-width: 1;
  }
}

.label {
  white-space: nowrap;
  overflow: hidden;
}
