.toggleBox {
  background-color: var(--color-background-layer);
  padding: var(--padding-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  z-index: var(--zindex-popover);
}

.fullWidthStyleFix {
  max-width: 100%;
  left: 0 !important;
  margin: 0 35px;
}

.dismiss {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
