.loader {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;

  &.fullViewPortSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  &.cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: var(--padding);
  opacity: 0;
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: background-color 0.5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  will-change: opacity;
  z-index: var(--zindex-dimmer);
  display: flex;
  opacity: 0.95;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: var(--padding);
  opacity: 0.6;
}

.details {
  margin-top: var(--padding-xs);
}
