.progress {
  position: relative;
  background: rgba(black, 0.1);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: var(--size-sm);

  [data-theme='dark'] &,
  &.inverted {
    background: rgba(white, 0.1);
  }
}

.bar {
  display: block;
  line-height: 1;
  position: relative;
  width: 0;
  background: var(--color-neutral-500);
  transition:
    width 0.1s ease,
    background-color 0.5s ease;
  height: 100%;
  overflow: hidden;
  z-index: 2;

  &.grey {
    background-color: var(--color-neutral-500);
  }
  &.red {
    background-color: var(--color-error-500);
  }
  &.colored,
  &.orange {
    background-color: var(--color-primary-500);
  }
  &.yellow {
    background-color: var(--color-warning-500);
  }
  &.green {
    background-color: var(--color-success-500);
  }

  .label {
    color: white;
  }
}

.label {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5em;
  color: var(--color-text-muted);
  font-weight: bold;
  z-index: 1;
}
