@import '../../style/mixins.less';

.input {
  margin: 0;
  outline: 0;
  text-align: left;
  font-family: var(--font-family);
  padding: var(--padding-input);
  background: var(--color-background-input);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: var(--border-radius);
  transition:
    box-shadow 0.1s ease,
    border-color 0.1s ease;
  box-shadow: none;
  height: var(--size);
  line-height: var(--line-height);
  width: 100%;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-variant-numeric: tabular-nums;

  &::placeholder {
    color: var(--color-text-placeholder);
  }

  &.isInTable {
    .inputInTable();
  }

  &:hover {
    .inputHover();
  }

  &:focus {
    .inputFocus();
  }

  &.small {
    font-size: var(--font-size-sm);
    height: var(--size-sm);
    padding: var(--padding-input-sm);
    line-height: var(--size-sm);
  }

  &[data-warning] {
    .inputWarning();
  }

  &[data-error] {
    .inputError();
  }

  &[disabled] {
    .inputDisabled();
  }

  &.right {
    text-align: right;
  }
}

.groupOrderFirst,
.groupOrderMiddle,
.groupOrderLast {
  flex: 1;
}

.groupOrderFirst,
.groupOrderMiddle {
  .input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.groupOrderLast,
.groupOrderMiddle {
  .input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
