@import '../../style/mixins.less';

.richTextInput {
  [role='textbox'] {
    padding: var(--padding-input);
    background: var(--color-background-input);
    border: 1px solid var(--color-border);
    color: var(--color-text);
    border-radius: var(--border-radius);
    transition: border-color 0.1s ease;
    white-space: pre-wrap;

    &:hover {
      .inputHover();
    }

    &:focus {
      .inputFocus();
    }

    &[aria-readonly='true'] {
      .inputDisabled();
    }
  }

  [data-placeholder]::before {
    color: var(--color-text-faint);
    font-style: normal;
  }
}
