.wrapper {
  display: inline-flex;
  position: relative;
}

.badge {
  --size-badge: var(--line-height);
  background: var(--color-background-primary);
  display: inline-block;
  position: static;

  &.label {
    line-height: var(--size-badge);
    min-width: var(--size-badge);
    padding: 0 var(--padding-xxs);
    font-size: var(--font-size-sm);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: calc(var(--size-badge) / 2);
    font-weight: bold;
    letter-spacing: normal;

    &.dark {
      color: #fff;
    }

    &.light {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.small {
    --size-badge: var(--font-size-sm);
    font-size: calc(var(--size-badge) * 0.8);
  }

  &.dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    min-width: 0;
  }

  &.hasChildren {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    z-index: 3;
  }
}
