@import '../../style/mixins.less';

:root {
  --color-border-button: rgba(black, 0.15);

  --color-background-button-default: var(--color-neutral-0);
  --color-background-button-default-hover: var(--color-neutral-50);
  --color-background-button-default-active: var(--color-neutral-100);
  --color-border-button-default-active: var(--color-primary-500);
  --color-text-button-default-active: var(--color-primary-500);

  --color-background-button-primary: var(--color-primary-500);
  --color-background-button-primary-hover: var(--color-primary-550);
  --color-background-button-primary-active: var(--color-primary-600);

  --color-background-button-success: var(--color-success-500);
  --color-background-button-success-hover: var(--color-success-550);
  --color-background-button-success-active: var(--color-success-600);

  --color-background-button-error: var(--color-error-500);
  --color-background-button-error-hover: var(--color-error-550);
  --color-background-button-error-active: var(--color-error-600);
}

html[data-theme='dark'] {
  --color-border-button: var(--color-border);

  --color-background-button-default: var(--color-neutral-800);
  --color-background-button-default-hover: var(--color-neutral-750);
  --color-background-button-default-active: var(--color-neutral-700);
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 1px solid var(--color-border);
  vertical-align: baseline;
  background: var(--color-background-button-default);
  color: var(--color-text);
  font-family: var(--font-family);
  padding: var(--padding-input);
  text-transform: none;
  text-shadow: none;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  user-select: none;
  transition:
    opacity 0.1s ease,
    background-color 0.1s ease,
    color 0.1s ease,
    box-shadow 0.1s ease,
    background 0.1s ease,
    border-color 0.1s ease;
  max-width: 100%;
  min-height: var(--size);
  box-shadow: var(--shadow-button);
  font-weight: bold;

  &:hover {
    background: var(--color-background-button-default-hover);
  }

  &:focus {
    box-shadow: var(--shadow-focus) !important;
  }

  &:active {
    background: var(--color-background-button-default-active);
    box-shadow: none;
  }

  &.active:not(.green):not(.red):not(.orange) {
    border-color: var(--color-border-button-default-active);
    color: var(--color-text-button-default-active);
    position: relative;
    z-index: 2;
  }

  &:hover,
  &:focus,
  &:active {
    position: relative;
    z-index: 1;
  }

  .icon {
    margin: -2px;
    margin-right: var(--padding-xxs);
    font-size: var(--size-xs);
    display: flex;
  }
}

.iconOnly {
  width: var(--size);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin: 0;
    line-height: 0;
  }
}

.basic {
  color: var(--color-text-primary);
  background: transparent;
  box-shadow: none !important;
  border: none !important;

  &.muted {
    color: var(--color-text-muted);
  }

  &:hover {
    color: var(--color-text-primary-hover);
    background: rgba(0, 0, 0, 0.05);
    [data-theme='dark'] & {
      background: rgba(white, 0.1);
    }
  }

  &:active,
  &.active {
    color: var(--color-text-primary-active);
    background: rgba(0, 0, 0, 0.1);
    [data-theme='dark'] & {
      background: rgba(white, 0.2);
    }
  }
}

.disabled {
  cursor: default;
  color: var(--color-text-faint) !important;
  box-shadow: none !important;

  &:not(.active) {
    &:not(.basic) {
      background: var(--color-background-disabled) !important;
      border: 1px solid var(--color-border) !important;
    }
  }
}

.small {
  font-size: var(--font-size-sm);
  min-height: var(--size-sm);
  padding: var(--padding-input-sm);
}

.pill,
.round {
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
}

.round {
  padding: 0;
  width: var(--size);
  line-height: 1; // Fix for rendering issue on Windows

  &.small {
    width: var(--size-sm);
  }
}

.orange {
  &:not(.basic) {
    background-color: var(--color-background-button-primary);

    &:hover {
      background-color: var(--color-background-button-primary-hover);
    }

    &:active,
    &.active {
      background-color: var(--color-background-button-primary-active);
    }
  }
}

.red {
  &:not(.basic) {
    background-color: var(--color-background-button-error);

    &:hover {
      background-color: var(--color-background-button-error-hover);
    }

    &:active,
    &.active {
      background-color: var(--color-background-button-error-active);
    }
  }
  &.basic {
    color: var(--color-text-error);
  }
}

.green {
  &:not(.basic) {
    background-color: var(--color-background-button-success);

    &:hover {
      background-color: var(--color-background-button-success-hover);
    }

    &:active,
    &.active {
      background-color: var(--color-background-button-success-active);
    }
  }
  &.basic {
    color: var(--color-text-success);
  }
}

.orange,
.red,
.green {
  border-color: var(--color-border-button);
  &:not(.basic) {
    color: #fff;

    &:hover {
      color: #fff;
    }

    &:active,
    &.active {
      color: #fff;
    }
  }
}

.button[data-warning] {
  .inputWarning();
}

.button[data-error] {
  .inputError();
}

// DEPRECATED
.inverted {
  background-color: transparent;
  border-color: var(--color-text);
  box-shadow: none;

  &:hover,
  &:active {
    box-shadow: none;
  }

  &.orange {
    color: var(--color-background-button-primary);
    border-color: var(--color-background-button-primary);
  }

  &.red {
    color: var(--color-background-button-error);
    border-color: var(--color-background-button-error);
  }

  &.green {
    color: var(--color-background-button-success);
    border-color: var(--color-background-button-success);
  }

  &.orange,
  &.red,
  &.green {
    &:hover,
    &:active {
      color: white;
      box-shadow: none;
    }
  }
}

.groupOrderFirst,
.groupOrderMiddle,
.groupOrderLast {
  margin-right: 0;
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
