.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.muted {
  color: var(--color-text-muted);
}

.faint {
  color: var(--color-text-faint);
}

.success {
  color: var(--color-text-success);
}

.warning {
  color: var(--color-text-warning);
}

.error {
  color: var(--color-text-error);
}

.small {
  font-size: var(--font-size-sm);
}

.link {
  color: var(--color-text-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-text-primary-hover);
  }
  &:active {
    color: var(--color-text-primary-active);
  }
}
