.footer {
  background-color: var(--color-background-table-header);
  z-index: 4;
  overflow: hidden;
  flex-shrink: 0;
}

.section {
  padding: var(--padding-input);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
}
