.wrapper {
  display: inline-flex;
  max-width: 100%;

  .layer & {
    width: 100%;
  }
}

.layerContainer {
  z-index: var(--zindex-dropdown);
}

.layer {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 2px 0;
  background: var(--color-background-layer);
  box-shadow: var(--shadow-layer);
  min-width: 10em;
  max-width: 30em;
  position: relative;
  overflow-y: auto;
  max-height: 40vh;

  &.nested {
    margin: -1px 2px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      list-style: none;
      display: block;
    }
  }
}

.fileInput {
  opacity: 0;
  position: absolute;
  inset: 0;
}

.trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;

  .layer & {
    width: 100%;
  }
}

.middleAlignedInline {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.heading {
  color: var(--color-text-muted);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  font-weight: bold;

  .headingIcon {
    float: right;
    svg {
      color: var(--color-text-faint);
    }
    &:hover {
      cursor: pointer;
      svg {
        color: var(--color-text-primary-hover);
      }
    }
  }
}

.option {
  color: inherit;
  display: block;
  position: relative;
}

.heading,
.option,
.layer .trigger {
  padding: var(--padding-input);
  border: 1px solid transparent; // Match total size of inputs
}

.option,
.layer .trigger {
  line-height: var(--line-height);
  display: flex;
  align-items: flex-start;

  &:hover,
  &.active {
    background-color: var(--color-background-listitem-hover);
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.2;
  }
}

.option.selected,
.layer .trigger.selected {
  background-color: var(--color-background-listitem-active);
}

.layer .trigger {
  align-items: center;
}

.optionContent {
  flex-wrap: wrap;
  margin-right: auto;
}

.inline .optionContent {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.icon,
.check {
  display: flex;
  flex-shrink: 1;
  width: var(--size-xs);
  height: var(--line-height);
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: var(--padding-xs);
  color: var(--color-text-primary);
  font-size: var(--size-xs);

  &:empty {
    display: none;
  }

  img {
    max-height: 16px;
    max-width: 16px;
    width: auto;
    height: auto;
  }
}

.check {
  margin-left: var(--padding-xs);
  color: var(--color-text-primary);
}

.text {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label {
  margin-right: auto;
}

.label,
.heading {
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  color: #999;
  display: block;
}

.arrow {
  margin-left: var(--padding-xxs);
  display: flex;
}

.divider {
  border: 0;
  border-top: 1px solid var(--color-border);
}

.deprecatedSemanticIcon {
  color: var(--color-text-primary) !important;
  margin: -5px 0 0 !important;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed !important;
}

.buttonLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-right: auto;
}

.buttonCaret {
  display: flex;
  margin-left: var(--padding-xxs);
}

.component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.actions {
  margin-left: var(--padding-xs);
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-bottom: -2px;
}
