.field {
  margin-bottom: var(--padding);
  color: var(--color-text);

  &.labelLeft {
    display: flex;
    align-items: center;

    .fieldInput {
      flex-grow: 1;
    }
  }
}

.formRow,
.form-row /* hyphens are awkward (deprecate) */ {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  > *:not(:last-child) {
    margin-right: var(--padding);
  }

  // Deprecated?
  .button {
    margin-bottom: var(--padding);
  }
}
