@import '../../style/mixins.less';

.textarea {
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  outline: 0;
  text-align: left;
  font-family: var(--font-family);
  line-height: var(--line-height);
  padding: var(--padding-input);
  background: var(--color-background-input);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: var(--border-radius);
  transition:
    box-shadow 0.1s ease,
    border-color 0.1s ease;
  box-shadow: none;
  min-height: var(--size);

  &::placeholder {
    color: var(--color-text-placeholder);
  }

  &:hover {
    .inputHover();
  }

  &:focus {
    .inputFocus();
  }

  &[disabled] {
    .inputDisabled();
  }

  &.small {
    font-size: var(--font-size-sm);
    min-height: var(--size-sm);
    padding: var(--padding-input-sm);
  }

  &[data-warning] {
    .inputWarning();
  }

  &[data-error] {
    .inputError();
  }

  &.monospace {
    font-family: monospace;
  }
}
