@import '../../style/mixins.less';

.list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.bordered {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  .virtualRow:last-child .item {
    border-bottom: none;
  }
}

.header .headerTitle,
.heading .itemHeader {
  transition: opacity 0.3s;

  .narrow & {
    opacity: 0;
  }
}

.stickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 10;
}

.itemHeader {
  padding: var(--padding-xs) var(--padding);
  display: flex;
  align-items: flex-start;

  .title {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    min-width: 0;
  }

  .name {
    font-weight: 400;
    display: block;
  }

  .iconTooltipMargin {
    margin-left: var(--padding-xs);
  }

  .bold {
    font-weight: bold;
  }
}

.header {
  padding: var(--padding);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
}

// Deprecated
.toggleNarrow {
  margin-right: 16px;
  margin-left: -5px;
  color: #c8c8c8;
  transition: all 0.4s;
  display: flex;
  width: 22px;
  justify-content: center;

  &:hover {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }

  .narrow & {
    transform: scaleX(-1);
  }
}

.drag {
  color: var(--color-text-faint);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--padding-xs);
  margin-left: calc(var(--padding-xs) * -1);
  margin-top: calc((var(--line-height) - var(--size-sm)) / 2);
  margin-bottom: calc((var(--line-height) - var(--size-sm)) / 2);
  cursor: grab;
  height: var(--size-sm);
  width: var(--size-sm);
  flex-shrink: 0;

  &:hover {
    color: var(--color-text-primary-hover);
  }

  &:active {
    cursor: grabbing;
    color: var(--color-text-primary-active);
  }
}

.dragOverlay {
  box-shadow: var(--shadow-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.listContent {
  background: var(--color-background);
}

.item {
  color: inherit;
  display: block;
  transition: background-color 0.2s;
  position: relative;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-raised);
  transition: background 0.3s;
  overflow-wrap: break-word;
  hyphens: auto;

  &:not(.heading):after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition:
      background 0.3s,
      width 0.3s;
  }

  &.action {
    cursor: pointer;

    &:not(.active) {
      &:hover {
        background: var(--color-background-listitem-hover);

        &:after {
          width: 5px;
          background: rgba(black, 0.1);
        }
      }
    }
  }

  &.indented {
    &:after {
      width: 3px;
      background: rgba(black, 0.1);
    }
  }

  &.active {
    cursor: default;
    position: relative;
    z-index: 1;
    background: var(--color-background-listitem-active);

    &:after {
      background: var(--color-background-primary) !important;
    }
  }

  &.disabled {
    color: var(--color-text-faint);
    pointer-events: none;
  }

  &.heading {
    color: var(--color-text-muted);
    background-color: var(--color-background-cardheader);

    &.action {
      &:hover {
        color: var(--color-text-primary-hover);
      }
    }
  }

  .label {
    display: flex;
    align-items: center;
    margin-right: var(--padding-xs);
    flex-shrink: 0;
    width: var(--size-sm);
    height: var(--size-sm);
    margin-top: calc(var(--line-height) / 2 - var(--size-sm) / 2);
    margin-bottom: calc(var(--line-height) / 2 - var(--size-sm) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details,
  .metadata {
    display: block;
    width: 100%;
    font-weight: normal;
  }

  .metadata {
    color: var(--color-text-muted);
  }

  .itemContent {
    padding: 0 var(--padding) var(--padding-sm);
    cursor: auto;
  }
  .itemContent:empty {
    padding: inherit;
  }
}

.indentIcon {
  color: var(--color-text-faint);
  flex-shrink: 0;
  margin-right: var(--padding-xxs);
}

.expandIcon {
  flex-shrink: 0;
  position: relative;
  display: flex;
  height: var(--line-height);
  margin-right: var(--padding-xs);

  &.expanded {
    svg {
      transform: rotate(90deg);
    }
  }
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: calc((var(--line-height) - var(--size-sm)) / 2);
  margin-bottom: calc((var(--line-height) - var(--size-sm)) / 2);
  min-height: var(--size-sm);
}

.actions {
  margin-left: var(--padding-xs);
  display: flex;
  align-items: center;
}

.scrollableList {
  height: 100%; // match the height of parent
  overflow-y: auto;
}

.hideScrollbar {
  .hideScrollbars();
}

.noPointerEvents {
  pointer-events: none;
}

.virtualRows {
  width: 100%;
  position: relative;
}

.virtualRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
