@import '../../../../style/mixins.less';

.trigger {
  font-weight: normal;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background: var(--color-background-input);
  height: var(--size);
  position: relative;
  padding-left: var(--padding-input-x);
  box-shadow: var(--shadow-button);

  input {
    border: none !important;
    background: transparent !important;
  }

  &.isInTable {
    .inputInTable();

    .input {
      background: transparent !important;
    }
  }

  &:hover {
    .inputHover();
    cursor: pointer;
  }

  &.isOpen,
  &:focus {
    .inputFocus();
  }

  &[data-warning] {
    .inputWarning();
  }

  &[data-error] {
    .inputError();
  }

  &.disabled {
    .inputDisabled();
  }
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 2;

  .clearAll,
  .iconOpen {
    width: calc((var(--size) + var(--font-size)) / 2);
    height: var(--size);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .disabled & {
      color: var(--color-text-faint);
    }

    .small & {
      width: calc((var(--size-sm) + var(--font-size-sm)) / 2);
      height: var(--size-sm);
    }
  }

  .clearAll:hover {
    color: var(--color-text-primary);
  }
}

.triggerInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  min-width: 0;
  margin-right: 4px;

  .right & {
    justify-content: flex-end;
    text-align: right;

    input {
      padding-right: 0;
      padding-left: 0;
      text-align: right;
      width: 0;

      &:focus {
        width: auto;
      }
    }
  }
}

.multiOptions {
  display: flex;
  overflow: hidden;
  margin-left: calc((var(--padding-xxs) * -1) - 2px);

  &:empty {
    display: none !important;
  }

  .multiOption {
    user-select: none;
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    padding: 0 var(--padding-xxs);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    height: calc(var(--size) - 6px);
    color: var(--color-text-muted);
    max-width: 100%;
    min-width: 0;
    flex-shrink: 0;
    margin-right: 2px;

    .small & {
      height: calc(var(--size-sm) - 6px);
    }

    .label {
      white-space: nowrap;
    }

    .closeMultiOption {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: var(--size-sm);
      opacity: 0.25;
      aspect-ratio: 1;

      &:hover,
      &.focus {
        opacity: 1;
        outline: 0;
      }
    }
  }
}

.selectedSingleValue,
.placeHolder {
  line-height: calc(var(--size) - 2px);
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  position: absolute;
}

.placeHolder {
  color: var(--color-text-placeholder);
}

.input {
  font-family: var(--font-family);
  background-color: transparent;
  border: none;
  color: var(--color-text);
  padding: 0;
  width: 0;

  &[data-error] {
    color: var(--color-text-error) !important;
  }

  &:focus {
    outline: none;
    width: auto;
  }
}

.small {
  height: var(--size-sm);
  font-size: var(--font-size-sm);
  padding-left: var(--padding-input-sm-x);

  .selectedSingleValue,
  .placeHolder,
  .input {
    height: calc(var(--size-sm) - 2px);
    line-height: calc(var(--size-sm) - 2px);
  }
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.detailedLabel {
  width: 100%;

  :first-child {
    float: left;
    position: absolute;
    padding-right: var(--padding-xxs);
  }

  :last-child {
    float: right;
  }
}
