.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;

  &.padding {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  &.margin {
    margin: var(--padding) 0;
  }
}

.contentPadding {
  padding-top: var(--padding);
}

.item {
  align-self: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  flex: 0 0 auto;
  user-select: none;
  padding: var(--padding-xs) 0;
  transition:
    border 0.1s ease,
    color 0.1s ease;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  cursor: pointer;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-right: var(--padding);
  }

  &:hover:not(.active) {
    color: var(--color-text-primary-hover);
    background: rgba(black, 0.025);

    [data-theme='dark'] & {
      background: rgba(white, 0.1);
    }
  }

  &:active:not(.active) {
    color: var(--color-text-primary-active);
    background: rgba(black, 0.05);

    [data-theme='dark'] & {
      background: rgba(white, 0.2);
    }
  }

  &.active {
    border-color: var(--color-text);
    color: var(--color-text);
    cursor: default;
  }

  &.hidden {
    display: none !important;
  }

  &.disabled {
    color: var(--color-text-faint);
    pointer-events: none;
  }

  &.left + .item.right {
    margin-left: auto;
  }
}
