.checkbox {
  --size-checkbox: var(--size-xs);

  margin: calc((var(--size) - var(--size-checkbox)) / 2) 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--padding-xxs);
  backface-visibility: hidden;
  vertical-align: baseline;
  font-style: normal;
  min-height: var(--size-checkbox);
  font-size: inherit;
  line-height: var(--size-checkbox);
  min-width: var(--size-checkbox);
  outline: 0px;

  &.noLabel {
    width: var(--size-checkbox);
  }

  &.small {
    --size-checkbox: calc(var(--size-xs) - 4px);
    margin: calc((var(--size-sm) - var(--size-checkbox)) / 2) 0;
    font-size: var(--font-size-sm);
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 !important;
    outline: 0px;
    z-index: -1;
  }

  label {
    cursor: pointer;
    user-select: none;
    color: var(--color-text);
    transition: color 0.1s ease 0s;
    display: block;
    padding-left: calc(var(--size-checkbox) + var(--padding-xs));
    outline: 0px;

    .checkmark {
      position: absolute;
      top: 0px;
      left: 0px;
      width: var(--size-checkbox);
      height: var(--size-checkbox);
      font-size: var(--size-checkbox);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--color-background-button-default);
      border-radius: var(--border-radius-sm);
      transition:
        border 0.1s ease 0s,
        opacity 0.1s ease 0s,
        transform 0.1s ease 0s,
        box-shadow 0.1s ease 0s;
      border: 1px solid var(--color-border-checkbox);
      color: transparent;

      &:hover {
        border-color: var(--color-border-hover);
      }
    }
  }

  input:checked ~ label .checkmark {
    background: var(--color-background-primary);
    border-color: transparent;
    color: white;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    label {
      color: var(--color-text-faint);
    }

    .checkmark {
      background: var(--color-background-disabled) !important;
      border-color: var(--color-border-checkbox) !important;
    }

    input:checked ~ label .checkmark {
      color: var(--color-text-faint);
    }
  }
}

.noMargin {
  margin: 0;
}

.isInTable {
  margin: 0;
}

.helpIconEnabled {
  pointer-events: auto;
}
