@import '../../../style/mixins.less';

.select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  display: inline-block;
  width: 100%;
  padding: var(--padding-input);
  padding-right: calc(
    var(--padding-input-x) + var(--font-size) + var(--padding-xxs)
  );
  color: var(--color-text);
  vertical-align: middle;
  background: var(--color-background-input)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.75' stroke='rgb(63, 63, 51)' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E")
    no-repeat right var(--padding-xs) center;
  background-size: var(--font-size);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  height: var(--size);
  box-shadow: var(--shadow-button);

  [data-theme='dark'] & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.75' stroke='rgb(215, 215, 206)' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
  }

  // Styles for option dropdown in browsers that support it (e.g. Windows/Chrome)
  option {
    background: var(--color-background-layer);
    color: var(--color-text);

    &:focus {
      background-color: var(--color-background-listitem-active);
    }
  }

  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
  }

  &:hover {
    .inputHover();
    cursor: pointer;
  }

  &:focus {
    .inputFocus();
  }

  &.isInTable {
    .inputInTable();
  }

  &.unSelected {
    color: var(--color-text-placeholder) !important;

    &:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 #000 !important;
    }
  }

  &[data-warning] {
    .inputWarning();
  }

  &[data-error] {
    .inputError();
  }

  &.small {
    font-size: var(--font-size-sm);
    height: var(--size-sm);
    padding: var(--padding-input-sm);
    background-size: var(--font-size-sm);
    background-position: right var(--padding-xxs) center;
    padding-right: calc(
      var(--padding-input-sm-x) + var(--font-size-sm) + var(--padding-xxs)
    );
  }

  &.right {
    text-align: right;
    text-align-last: right;
  }

  &[disabled] {
    opacity: 1;
    .inputDisabled();
  }
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
