.empty {
  position: relative;
  border-radius: inherit;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--padding-xs);

  .text {
    max-width: 40ch;
    gap: var(--padding-xxs);
  }
}
