.spinner {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;

  &:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
    box-shadow: 0 -1.25px 0 currentcolor;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
