.breadcrumb {
  font-size: var(--font-size-xl);

  &.small {
    font-size: var(--font-size);
  }

  .labelContainer {
    color: var(--color-text-primary);
    cursor: pointer;

    &:hover {
      color: var(--color-text-primary-hover);
    }

    &:active {
      color: var(--color-text-primary-active);
    }

    &.active {
      color: inherit;
      cursor: default;
      pointer-events: none;
    }

    &.disabled {
      color: var(--color-text-faint);
      cursor: default;
      pointer-events: none;
    }
  }

  .separator {
    margin: 0 var(--padding-xs);
    color: var(--color-border);
  }
}
