.label {
  display: flex;
  align-items: center;

  &.labelLeft {
    margin-bottom: 0;
    flex-shrink: 0;
    padding-right: var(--padding-xs);

    > label {
      margin-bottom: 0;
    }
  }

  .icons {
    display: inline-flex;

    > * {
      margin-left: var(--padding-xxs);
    }
  }

  > label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size);
    margin-bottom: var(--padding-xxs);
    line-height: 1.25;
  }
}
