.title {
  background-color: var(--color-background-cardheader);
  border-bottom: 1px solid var(--color-border);
  padding: var(--padding-xxs) var(--padding-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  flex-shrink: 0; // Prevent header from shrinking when table overflows
}
