.chevron {
  margin-right: var(--padding-xs);
  display: flex;
  font-size: var(--font-size);
  transition: transform 0.3s;
  color: var(--color-text-muted);
  pointer-events: none;

  &.expanded {
    transform: rotate(90deg);
  }
}
