.wrapper {
  &.inline {
    display: flex;
    align-items: center;

    .radio:not(:last-child) {
      margin-right: var(--padding);
    }
  }

  // Deprecated
  .labelMargin {
    margin-right: var(--padding);
  }
}

.radio {
  --size-radio: var(--size-xs);
  margin: calc((var(--size) - var(--size-radio)) / 2) 0; // Match height of default size input
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--padding-xxs);
  backface-visibility: hidden;
  vertical-align: baseline;
  font-style: normal;
  min-height: var(--size-radio);
  font-size: var(--font-size);
  line-height: var(--size-radio);
  min-width: var(--size-radio);
  outline: 0px;

  &.small {
    --size-radio: calc(var(--size-xs) - 4px);
    margin: calc((var(--size-sm) - var(--size-radio)) / 2) 0; // Match height of small size input
    font-size: var(--font-size-sm);
  }

  &.noMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    outline: 0;
    width: var(--size-radio);
    height: var(--size-radio);
    z-index: -1;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: calc(var(--size-radio) + var(--padding-xs));
    outline: 0;
    color: var(--color-text);
    transition: color 0.1s ease;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: var(--size-radio);
      height: var(--size-radio);
      line-height: var(--size-radio);
      border-radius: 50%;
      transition:
        border 0.1s ease,
        opacity 0.1s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
    }

    &:before {
      background: var(--color-background-button-default);
      border: 1px solid var(--color-border-checkbox);
      transform: none;
    }

    &:hover:before {
      border-color: var(--color-border-hover);
    }

    &:after {
      border: none;
      transform: scale(0.46666667);
      background-color: white;
      box-shadow: var(--shadow-button);
      opacity: 0;
    }
  }

  input:checked ~ label {
    &:before {
      background-color: var(--color-background-primary);
      border-color: transparent;
    }

    &:after {
      opacity: 1;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    label {
      color: var(--color-text-faint);

      &:before {
        background-color: var(--color-background-disabled) !important;
      }
    }

    input:checked ~ label {
      &:before {
        border-color: var(--color-border-checkbox);
      }

      &:after {
        background-color: var(--color-border-checkbox);
      }
    }
  }
}

.isInTable {
  margin: 0;
  position: relative;
  top: 1px;
}

.helpIconEnabled {
  pointer-events: auto;
}
