.layerContainer {
  z-index: var(--zindex-dropdown);
}

.layer {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 2px -1px 0 -1px;
  background: var(--color-background-layer);
  box-shadow: var(--shadow-layer);
  position: relative;
  font-size: var(--font-size);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      list-style: none;
      display: block;
    }
  }

  &.small {
    font-size: var(--font-size-sm);
  }
}

.heading,
.option,
.message {
  padding: var(--padding-input);
  padding-right: 0;

  .small & {
    padding: var(--padding-input-sm);
    padding-right: 0;
  }
}

.heading {
  color: var(--color-text-muted);
  letter-spacing: var(--letter-spacing-wide);
  font-weight: bold;
  text-transform: uppercase;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .small & {
    font-size: var(--font-size-sm);
  }
}

.message {
  color: var(--color-text-faint);
}

.option {
  line-height: var(--line-height);
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  cursor: pointer;

  &.focused,
  &:hover {
    background-color: var(--color-background-listitem-hover);
  }

  &.selected {
    background-color: var(--color-background-listitem-active);
  }

  &.disabled {
    opacity: 0.2;
    cursor: inherit;
  }

  .check {
    color: var(--color-text-primary);
    font-size: var(--font-size);
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .small & {
      width: var(--size-sm);
      height: var(--size-sm);
    }

    svg {
      display: block;
    }
  }

  .optionContent {
    flex-wrap: wrap;
    margin-right: auto;
    overflow: hidden;

    .label {
      max-width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      display: inline-flex;
      margin-left: var(--padding-xxs);
      line-height: 0; // Strips empty whitespace
    }
  }
}

.details {
  float: right;
  display: inline;
  white-space: nowrap;
}
