.card {
  color: var(--color-text);
}

.card.bordered {
  background: var(--color-background-raised);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius);

  &.raised {
    box-shadow: var(--shadow-layer);
  }

  .cardHeader {
    padding: var(--padding-xxs) var(--padding-sm);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--color-background-cardheader);
  }

  .cardContentBorderTop {
    border-top: 1px solid var(--color-border);
  }

  .padding {
    padding: var(--padding-sm);
  }
}

.cardContent {
  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  padding: var(--padding-sm) 0;
}
