.wrapper {
  color: inherit;
  fill: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .customSvg {
    line-height: 0; // Strips unneccessary whitespace
  }

  .customPng {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    color: var(--color-text-primary-hover) !important;
    fill: var(--color-text-primary-hover) !important;
  }

  &:active {
    color: var(--color-text-primary-active) !important;
    fill: var(--color-text-primary-active) !important;
  }
}
