.heading {
  color: var(--color-text);
  line-height: var(--size-sm); // Align with small controls on right
  font-weight: bold;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0;

  &.top {
    font-size: var(--font-size-xl);
    margin-bottom: var(--padding-sm);
  }

  &:not(.top) {
    font-size: var(--font-size);
    color: var(--color-text-muted);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }
}

.icons {
  display: inline-flex;

  > * {
    margin-left: var(--padding-xxs);
  }
}
