.wrapper {
  z-index: var(--zindex-modal);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: var(--padding);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  color: var(--color-background-raised);
  max-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.centered > * {
  margin-top: auto;
  margin-bottom: auto;
}

.newLine {
  white-space: 'pre-wrap';
}
