.bordered {
  border: 1px solid var(--color-border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: none;
  background-color: var(--color-background-raised);
}

.checkboxWrapper {
  padding: var(--padding-xxs) var(--padding-sm);

  &:last-child {
    border-radius: 0 0 inherit inherit;
  }
}

.padding {
  padding: var(--padding-sm);
}

.contentWrapper {
  border-radius: inherit;
}
