@import '../../style/mixins.less';

:root {
  --size-drawer-tabs: var(--size-lg);
  --color-background-drawer-tab: var(--color-primary-100);
  --color-background-drawer-tab-hover: white;
  --color-border-drawer-tab: var(--color-primary-200);
  --color-background-drawer-handle-hover: rgba(black, 0.05);
}

html[data-theme='dark'] {
  --color-background-drawer-tab: var(--color-primary-800);
  --color-background-drawer-tab-hover: var(--color-primary-700);
  --color-border-drawer-tab: black;
  --color-background-drawer-handle-hover: rgba(white, 0.1);
}

.inline {
  position: relative;

  &.left {
    order: -1;
  }

  &.right {
    order: 9999;
  }
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: var(--zindex-drawer);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.border {
  .left & {
    border-right: 1px solid var(--color-border);
  }

  .right & {
    border-left: 1px solid var(--color-border);
  }
}

.shadow {
  box-shadow: var(--shadow-layer);
}

.drawerContent {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  min-height: 100%;
  transition: width 0.2s;

  .isResizing & {
    transition: none;
  }

  @media print {
    background: transparent !important;
  }

  .hideScrollbars();
}

.toggleButton {
  transition: transform 0.2s;
  display: inline-block;
  transform: rotate(180deg);
  position: absolute;
  z-index: calc(var(--zindex-drawer) + 3);

  .left & {
    right: calc(var(--size) / -2);
  }

  .right & {
    left: calc(var(--size) / -2);
  }

  &.top {
    top: var(--padding);
  }

  &.bottom {
    bottom: var(--padding);
  }

  &.toggleButtonOpen {
    transform: rotate(0deg);
  }
}

.tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--color-background);
  padding-top: var(--padding);
  z-index: calc(var(--zindex-drawer) + 1);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);

  .left & {
    right: 0;
  }

  .right & {
    left: 0;
  }

  .tab {
    font-size: var(--size-sm);
    height: var(--size-drawer-tabs);
    width: var(--size-drawer-tabs);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: -1px;
    transition:
      color 0.2s,
      background-color 0.2s;
    border: 1px solid var(--color-border-drawer-tab);

    .left & {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.active {
        border-left-color: transparent;
      }
    }

    .right & {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &.active {
        border-right-color: transparent;
      }
    }

    &:not(.active) {
      color: var(--color-text-primary);
      background-color: var(--color-background-drawer-tab) !important;

      &:hover {
        color: var(--color-text);
        background-color: var(--color-background-drawer-tab-hover) !important;
      }
    }

    &.active {
      color: var(--color-text);
      border-color: var(--color-border);
    }

    svg {
      stroke-width: 1.125;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      color: var(--color-text-faint) !important;
      background-color: var(--color-background-disabled) !important;
      border-color: var(--color-border) !important;
    }
  }
}

.tabsContent {
  .left & {
    padding-right: calc(var(--size-drawer-tabs) - 1px);
  }
  .right & {
    padding-left: calc(var(--size-drawer-tabs) - 1px);
  }
}

.resizeHandle {
  --size-resize-handle: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--size-resize-handle);
  z-index: calc(var(--zindex-drawer) + 2);
  cursor: ew-resize;
  display: flex;
  align-items: center;
  color: var(--color-text-faint);
  font-size: var(--size-resize-handle);
  transition: all 0.2s;

  &:hover {
    background: var(--color-background-drawer-handle-hover);
    color: var(--color-text-primary);
  }

  &:active {
    background: var(--color-text-primary);
    color: white;
  }

  .left & {
    right: 0;
  }

  .right & {
    left: 0;
  }
}
