@import './shared.less';

.generate-color-range(@name, @color, @saturationOffset: 0) {
  @selectors: range(0, 1000, 50);
  @hue: hue(@color);
  @saturation: saturation(@color) + @saturationOffset;
  each(@selectors, {
    @lightness: 100% - (@value / 10) + 2.5;
    --color-@{name}-@{value}: hsl(@hue, @saturation, @lightness) ;
  });
}

:root {
  .generate-color-range(primary, @color: @colorPrimary);
  .generate-color-range(error, @color: @colorError, @saturationOffset: -20);
  .generate-color-range(success, @color: @colorSuccess, @saturationOffset: -20);
  .generate-color-range(warning, @color: @colorWarning, @saturationOffset: -20);
  .generate-color-range(info, @color: @colorInfo, @saturationOffset: -30);
  .generate-color-range(neutral, @color: @colorNeutral);
}
