@import './reset/reset.less';
@import './colors.less';
@import './theme.default.less';
@import './theme.dark.less';
@import './fonts.less';

@import '../components/form/form.module.less';

html {
  font-size: var(--font-size);
}

body {
  color: var(--color-text);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.dark {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.285714em;
  margin: 0 0 1rem;
}

p,
ul,
ol {
  margin: 0 0 1rem;
  line-height: var(--line-height);

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
}
