.inputInTable {
  background-color: transparent;
  border-radius: inherit !important;
  height: var(--size);
  min-height: 100%;

  // Hide border unless the input is hovered/focused or has an error/warning
  &:not(:hover):not([data-error]):not([data-warning]) {
    border-color: transparent;
  }

  &:not(:focus) {
    box-shadow: none;
  }
}

.inputHover {
  position: relative;
  border-color: var(--color-border-hover);
  z-index: 2;
}

.inputFocus {
  position: relative;
  outline: none !important;
  border-color: var(--color-border-focus) !important;
  box-shadow: var(--shadow-focus);
  z-index: 3;
}

.inputError,
.inputWarning {
  position: relative;
}

.inputError {
  z-index: 2;
  border-color: var(--color-border-error);
  color: var(--color-text-error) !important;
  background-color: var(--color-background-error-muted);

  &:hover {
    border-color: var(--color-border-error-hover) !important;
  }

  &:focus {
    .inputFocus();
  }
}

.inputWarning {
  z-index: 1;
  border-color: var(--color-border-warning);
  color: var(--color-text-warning) !important;
  background-color: var(--color-background-warning-muted);

  &:hover {
    border-color: var(--color-border-warning-hover) !important;
  }

  &:focus {
    .inputFocus();
  }
}

.inputDisabled {
  pointer-events: none;
  background-color: var(--color-background-disabled);
  color: var(--color-text-muted);
  box-shadow: none;
}

.hideScrollbars {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
