/*
 This file has shared variables that are re-used in other LESS files/modules
 Only use simple variables in this file
*/

// Brand guidelines
@colorPrimary: #ff740f;
@colorError: #e14c4c;
@colorWarning: #e2b327;
@colorSuccess: #3bbb3b;
@colorInfo: #29a7eb;
@colorNeutral: #aaaa97;
