html[data-theme='dark'] {
  color-scheme: dark;

  --color-text: var(--color-neutral-200);
  --color-text-muted: var(--color-neutral-400);
  --color-text-faint: var(--color-neutral-600);
  --color-text-primary: var(--color-primary-400);
  --color-text-primary-active: var(--color-primary-200);
  --color-text-primary-hover: var(--color-primary-300);
  --color-text-error: var(--color-error-300);
  --color-text-info: var(--color-info-300);
  --color-text-success: var(--color-success-300);
  --color-text-warning: var(--color-warning-300);
  --color-text-placeholder: rgba(white, 0.4);

  --color-background: var(--color-neutral-900);
  --color-background-raised: var(--color-neutral-850);
  --color-background-layer: var(--color-neutral-750);
  --color-background-disabled: rgba(black, 0.2);
  --color-background-info: var(--color-info-500);
  --color-background-info-muted: var(--color-info-800);
  --color-background-error: var(--color-error-500);
  --color-background-error-muted: var(--color-error-800);
  --color-background-success: var(--color-success-500);
  --color-background-success-muted: var(--color-success-800);
  --color-background-warning: var(--color-warning-500);
  --color-background-warning-muted: var(--color-warning-800);
  --color-background-primary: var(--color-primary-500);
  --color-background-primary-muted: var(--color-primary-800);

  --color-background-cardheader: transparent;
  --color-background-input: rgba(white, 0.1);
  --color-background-listitem-active: var(--color-primary-800);
  --color-background-listitem-hover: var(--color-neutral-750);

  --color-border: black;
  --color-border-checkbox: black;
  --color-border-hover: var(--color-neutral-500);
  --color-border-focus: var(--color-primary-500);
  --color-border-error: var(--color-error-600);
  --color-border-warning: var(--color-warning-600);

  --shadow-focus: 0 0 0 2px rgba(@colorPrimary, 0.5);
}
