:root {
  color-scheme: initial;

  // FONT

  --font-family: 'Roobert', 'Noto Sans', sans-serif;
  --font-size-xl: 17px;
  --font-size-lg: 15px;
  --font-size: 13px;
  --font-size-sm: 12px;
  --font-size-xs: 11px;
  --line-height: 20px;
  --line-height-sm: 16px;
  --letter-spacing-wide: 0.05em;

  // SIZE

  --size-xl: 48px;
  --size-lg: 36px;
  --size: 30px;
  --size-sm: 24px;
  --size-xs: 16px;

  // PADDING

  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;

  --padding-input-x: var(--padding-xs);
  --padding-input-y: calc((var(--size) - var(--line-height) - 2px) / 2);
  --padding-input: var(--padding-input-y) var(--padding-input-x);
  --padding-input-sm-x: var(--padding-xs);
  --padding-input-sm-y: calc((var(--size-sm) - var(--line-height) - 2px) / 2);
  --padding-input-sm: var(--padding-input-sm-y) var(--padding-input-sm-x);

  // BORDER RADIUS

  --border-radius: 4px;
  --border-radius-sm: 2px;

  // Z-INDEX
  --zindex-topbar-alert: 98;
  --zindex-drawer: 99;
  --zindex-topbar: 101;
  --zindex-dimmer: 1000;
  --zindex-modal: 2000;
  //We need react-laag layers to appear above modals
  //Tooltips need to be above dropdown layers
  --zindex-popover: 2001;
  --zindex-dropdown: 2002;
  --zindex-tooltip: 2003;

  // BOX SHADOW

  --shadow-button: 0 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-card: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-layer:
    0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 4px rgba(0, 0, 0, 0.1);
  --shadow-focus: 0 0 0 2px rgba(@colorPrimary, 0.25);

  // COLORS

  --color-text: var(--color-neutral-900);
  --color-text-muted: var(--color-neutral-700);
  --color-text-faint: var(--color-neutral-500);
  --color-text-error: var(--color-error-600);
  --color-text-warning: var(--color-warning-600);
  --color-text-success: var(--color-success-600);
  --color-text-info: var(--color-info-600);
  --color-text-primary: var(--color-primary-500);
  --color-text-primary-hover: var(--color-primary-600);
  --color-text-primary-active: var(--color-primary-700);
  --color-text-placeholder: rgba(black, 0.3);

  --color-background: var(--color-neutral-100);
  --color-background-raised: white;
  --color-background-layer: white;
  --color-background-disabled: rgba(black, 0.05);
  --color-background-info: var(--color-info-500);
  --color-background-info-muted: var(--color-info-100);
  --color-background-error: var(--color-error-500);
  --color-background-error-muted: var(--color-error-100);
  --color-background-success: var(--color-success-500);
  --color-background-success-muted: var(--color-success-100);
  --color-background-warning: var(--color-warning-500);
  --color-background-warning-muted: var(--color-warning-100);
  --color-background-primary: var(--color-primary-500);
  --color-background-primary-muted: var(--color-primary-100);

  --color-background-input: white;
  --color-background-cardheader: var(--color-neutral-50);
  --color-background-listitem-active: var(--color-background-primary-muted);
  --color-background-listitem-hover: var(--color-neutral-100);

  --color-border: var(--color-neutral-250);
  --color-border-checkbox: var(--color-neutral-300);
  --color-border-hover: var(--color-neutral-400);
  --color-border-focus: var(--color-primary-500);
  --color-border-error: var(--color-error-300);
  --color-border-error-hover: var(--color-error-400);
  --color-border-warning: var(--color-warning-300);
  --color-border-warning-hover: var(--color-warning-400);
}
