.link {
  a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;

    img,
    svg {
      max-height: var(--size);
      max-width: 200px;
      height: auto;
      width: auto;
    }

    span {
      margin-left: var(--padding-xs);
      white-space: nowrap;

      @media (max-width: 700px) {
        display: none;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
