.dialog {
  border-radius: var(--border-radius);
  background: var(--color-background-raised);
  line-height: var(--line-height);
  color: var(--color-text);
  box-shadow: var(--shadow-layer);
  display: flex;
  flex-direction: column;

  > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  > :last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &.inline {
    display: inline-flex;
  }

  &.scroll {
    max-height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--padding-sm) var(--padding);
  background-color: var(--color-background-cardheader);
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;

  .dismiss {
    margin-right: calc(var(--padding-xxs) * -1);
    margin-left: var(--padding-xs);
    flex-shrink: 0;
  }
}

.content {
  flex-grow: 1;

  .scroll & {
    overflow: auto;
    min-height: 0;
    height: 100%;
    flex: 1 1 auto;
  }
}

.footer {
  display: flex;
  padding: var(--padding-sm) var(--padding);
  background-color: var(--color-background-cardheader);
  border-top: 1px solid var(--color-border);
  flex-shrink: 0;

  button:not(:last-child) {
    margin-right: var(--padding-sm);
  }
}
