.clickableRow {
  cursor: pointer;
}

.hoverableRow,
.clickableRow {
  &:not(.rowActive):hover {
    background-color: var(--color-background-listitem-hover) !important;
  }
}

.expandableRow {
  &.flush {
    padding: 0 !important;
    height: auto !important;
  }
}

tr[data-warning] {
  background-color: var(--color-background-warning-muted) !important;
}

tr[data-error] {
  background-color: var(--color-background-error-muted) !important;
}

.rowActive {
  position: relative;
  background-color: var(--color-background-listitem-active) !important;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition: background 0.3s;
    background: var(--color-background-primary);
  }
}

.dragIconCell {
  width: var(--size);
  min-width: var(--size);
  position: relative;
}

.dragIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  color: var(--color-text-faint);
  cursor: grab;

  &:hover {
    color: var(--color-text-primary-hover);
  }

  &:active {
    cursor: grabbing;
    color: var(--color-text-primary-active);
  }

  &.dragIconDisabled {
    cursor: not-allowed;
  }
}
