@import 'react-toastify/dist/ReactToastify.css';

.Toastify__toast {
  padding: 0;
  min-height: inherit;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: var(--shadow-layer);

  .Toastify__toast-body {
    display: block;
    padding: 0;

    > div > div {
      padding-right: calc(
        var(--size-sm) + var(--padding-sm) + var(--padding-xxs)
      ); // Adds offset for dismiss button (Button size + right padding + tiny space)
    }
  }
}
