:root {
  --size-topbar: var(--size-xl);
  --color-link-border-hover: var(--color-neutral-100);
  --shadow-topbar: var(--shadow-layer);
  --border-topbar: none;
}

[data-theme='dark'] {
  --color-link-border-hover: var(--color-neutral-600);
  --border-topbar: 1px solid var(--color-border);
}

.topbar {
  top: 0;
  left: 0;
  z-index: var(--zindex-topbar);
  width: 100%;
  box-shadow: var(--shadow-topbar);
  border-bottom: var(--border-topbar);
  background: var(--color-background-raised);
  display: flex;

  &.fixed {
    position: fixed;
  }

  @media print {
    display: none !important;
  }
}

.appSwitcher {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-neutral-700);
  height: var(--size-topbar);
  width: var(--size-topbar);
  font-size: var(--size);
  position: relative;

  &:hover {
    background-color: var(--color-neutral-750);
  }

  &:active {
    background-color: var(--color-neutral-800);
  }

  [data-theme='dark'] & {
    background-color: var(--color-neutral-900);

    &:hover {
      background-color: var(--color-neutral-950);
    }

    &:active {
      background-color: var(--color-neutral-1000);
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../../images/bg-rock.jpg');
    z-index: 0;
    transition: opacity 0.2s;
    opacity: 0.75;
  }

  &:hover:after {
    opacity: 0.75;
  }

  &:active:after {
    opacity: 0.5;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;

  img,
  svg {
    max-height: var(--size-lg);
    max-width: 300px;
    height: auto;
    width: auto;
    color: var(--color-text);
  }

  .logo {
    display: flex;
  }

  .label {
    color: var(--color-text);
    white-space: nowrap;
    font-weight: bold;
  }
}

.brand {
  padding: 0;
  position: relative;
  flex-shrink: 0;
}

.version {
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: 100%;
  font-size: var(--font-size-xs);
}

.left,
.right {
  display: flex;
  min-width: 0;
}

.left {
  gap: var(--padding);
  padding-left: var(--padding);
}

.right {
  margin-left: auto;
  flex-shrink: 0;
  padding-right: var(--padding-xs);
  gap: var(--padding-xs);
}

.item,
.link {
  align-items: center;
  display: flex;
}

.item {
  position: relative;
  transition:
    background 0.1s ease,
    box-shadow 0.1s ease,
    color 0.1s ease;
  vertical-align: middle;
  min-width: 0;
  max-width: 50vw; // Prevent long links breaking layout

  &.button,
  &.menu {
    flex-shrink: 0;
  }
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 100%;
  user-select: none;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;
  max-width: 100%;
  height: 100%;
  font-size: var(--font-size-lg);

  svg {
    margin-right: var(--padding-xxs);
    flex-shrink: 0;
  }

  &:hover {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }

  &.active {
    color: var(--color-text);
  }

  &:hover,
  &.active {
    background-color: transparent;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid transparent;
  }

  &:hover:after {
    border-color: var(--color-link-border-hover);
  }

  &.active:after {
    border-color: var(--color-background-primary);
  }

  &[disabled] {
    pointer-events: none;
    color: var(--color-text-faint);
  }
}

.alert {
  background-color: var(--color-background-primary);
  color: white;
  text-align: center;
  position: fixed;
  top: var(--size-topbar);
  left: 0;
  right: 0;
  z-index: var(--zindex-topbar-alert);
  padding: var(--padding-sm);
}
