@import '../../style/mixins.less';

:root {
  --color-background-table-header: var(--color-neutral-150);
  --color-background-table-row-tinted: var(--color-neutral-50);
}

html[data-theme='dark'] {
  --color-background-table-header: var(--color-neutral-800);
  --color-background-table-row-tinted: var(--color-neutral-800);
}

.wrapper {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.bordered {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-card);
  }
}

.scroll {
  background: var(--color-background);
  overflow-y: auto;
  border-radius: inherit;
  flex: 1;
  min-height: 0;

  // Square corners if title is present
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.table {
  color: var(--color-text);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: inherit;
  width: 100%;
  font-variant-numeric: tabular-nums;

  // Inherit rounded corners where necessary
  > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    > :first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;

      > :first-child {
        border-top-left-radius: inherit;
      }

      > :last-child {
        border-top-right-radius: inherit;
      }
    }
  }

  > :last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    > :last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      > :first-child {
        border-bottom-left-radius: inherit;
      }

      > :last-child {
        border-bottom-right-radius: inherit;
      }
    }
  }
}

.dragOverlay {
  box-shadow: var(--shadow-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: fixed;
}

th,
td {
  padding: var(--padding-input) !important;
  height: var(--size);
  background: inherit;
  border-color: var(--color-border);
  border-style: solid;
  border-width: 0;

  // Add left border to all columns except the first one
  &:not(:first-child) {
    border-left-width: 1px;
  }

  // Add bottom border to all rows except the last one
  .table > *:not(:last-child) > tr &,
  .table > *:last-child > tr:not(:last-child) & {
    border-bottom-width: 1px;
  }
}

// Fix for cell height in Firefox from https://stackoverflow.com/a/51053670
@-moz-document url-prefix() {
  tr {
    height: var(--size);
  }
  td,
  th {
    height: 100%;
  }
}

thead {
  position: sticky;
  top: 0;
  overflow: hidden;
  // Display above sticky cells in tbody
  z-index: 5;

  tr {
    background-color: var(--color-background-table-header);
  }
}

tbody {
  overflow: hidden;

  tr {
    background-color: var(--color-background-raised);
  }

  .striped & [data-even='true'] {
    background-color: var(--color-background-table-row-tinted);
  }

  &:before {
    display: block;
    padding-top: var(--virtualPaddingTop);
    content: '';
  }

  &:after {
    display: block;
    padding-bottom: var(--virtualPaddingBottom);
    content: '';
  }
}
