.tooltip {
  background: var(--color-text);
  fill: var(--color-text);
  z-index: var(--zindex-tooltip);
  color: var(--color-background);
  border-radius: var(--border-radius-sm);

  * {
    color: var(--color-background);
  }

  > svg,
  > svg > * {
    fill: inherit !important;
  }

  &.error {
    background: var(--color-error-500);
    fill: var(--color-error-500);
  }

  &.warning {
    background: var(--color-warning-500);
    fill: var(--color-warning-500);
  }
}
