.popConfirm {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
}

.content {
  max-height: 200px;
  word-wrap: break-word;
  overflow-y: auto;
  text-align: center;
}

.buttons {
  display: flex;
  gap: var(--padding-xs);
  justify-content: center;
}
