:root {
  --color-background-toggle: rgba(black, 0.2);
  --color-background-toggle-hover: rgba(black, 0.25);
}

[data-theme='dark'] {
  --color-background-toggle: rgba(white, 0.2);
  --color-background-toggle-hover: rgba(white, 0.3);
}

.toggle {
  --size-toggle: var(--size-xs);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--padding-xxs);
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  min-height: var(--size-toggle);
  font-size: inherit;
  line-height: var(--size-toggle);
  min-width: var(--size-toggle);
  margin: calc((var(--size) - var(--size-toggle)) / 2) 0;

  &.small {
    --size-toggle: calc(var(--size-xs) - 4px);
    margin: calc((var(--size-sm) - var(--size-toggle)) / 2) 0;
    font-size: var(--font-size-sm);
  }

  input {
    width: calc(var(--size-toggle) * 2);
    height: var(--size-toggle);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    outline: 0;
    z-index: 3;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    font-family: sans-serif;
    margin: 0;
  }

  label {
    min-height: var(--size-toggle);
    padding-left: calc((var(--size-toggle) * 2) + var(--padding-xs));
    transition: color 0.1s ease;
    cursor: auto;
    position: relative;
    display: block;
    outline: 0;

    &:empty {
      // No extra padding if label is empty
      padding-left: calc(var(--size-toggle) * 2);
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
    }

    &:before {
      height: var(--size-toggle);
      border-radius: calc(var(--size-toggle) / 2);
      z-index: 1;
      transform: none;
      background: var(--color-background-toggle);
      box-shadow: none;
      width: calc(var(--size-toggle) * 2);
      left: 0;
      top: 0;
      transition:
        background 0.3s ease,
        border 0.1s ease,
        opacity 0.1s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
    }

    &:after {
      --size-toggle-handle: calc(var(--size-toggle) - 4px);
      --padding-toggle-handle: calc(
        (var(--size-toggle) - var(--size-toggle-handle)) / 2
      );
      height: var(--size-toggle-handle);
      width: var(--size-toggle-handle);
      border-radius: 50%;
      left: var(--padding-toggle-handle);
      top: var(--padding-toggle-handle);
      box-shadow: var(--shadow-button);
      background: white;
      opacity: 1;
      z-index: 2;
      transition:
        background 0.3s ease,
        left 0.3s ease;
    }
  }

  input:hover ~ label {
    &:before {
      background: var(--color-background-toggle-hover);
    }
  }

  input:checked ~ label {
    &:before {
      background-color: var(--color-background-button-primary);
    }

    &:after {
      left: calc(var(--size-toggle) + 2px);
    }
  }

  input:checked:hover ~ label {
    &:before {
      background-color: var(--color-background-button-primary-hover);
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    color: var(--color-text-faint);

    label {
      &:before {
        background-color: var(--color-background-disabled);
      }
      &:after {
        opacity: 0.4;
      }
    }
  }
}

.noMargin {
  margin: 0;
}

.helpIconEnabled {
  pointer-events: auto;
}
