@import '../../../node_modules/normalize.css/normalize.css';

/* Border-Box */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

/* iPad Input Shadows */
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none; /* mobile firefox too! */
}

/* FF dotted border outlines */
:focus {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

/* Strip native browser link styles */

a {
  color: inherit;
}
