.helpIcon {
  color: var(--color-text-faint);
  display: inline-flex;
  align-items: center;

  :hover {
    color: var(--color-text-muted);
  }
}

.active {
  color: var(--color-text);
}

.clickable {
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-text-primary-hover);
  }

  &:active {
    color: var(--color-text-primary-active);
  }
}
