.richTextToolbar {
  display: flex;
  gap: var(--padding-xxs);
}

.richTextToolbarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--padding-xs);
  align-items: flex-end;
}
