@import '../../../style/mixins.less';

.cell {
  a {
    cursor: pointer;
    color: var(--color-text-primary);

    &:hover {
      color: var(--color-text-primary-hover);
    }
    &:active {
      color: var(--color-text-primary-active);
    }

    &.disabledLink {
      color: var(--color-text-faint) !important;
      cursor: default !important;
    }
  }
}

// Pins the contents to the edges of the cell
.inputWrapper {
  height: 100%;
  border-radius: inherit;

  // Fix for full height custom Select
  // keyboard event handler
  > span, 
  // tooltip wrapper
  > span > span, 
  // trigger
  > span > span > div {
    height: 100%;
    border-radius: inherit;
  }

  // Fix for full height Input
  // width wrapper
  > div, 
  // tooltip wrapper
  > div > span {
    height: 100%;
    border-radius: inherit;
  }
}

.numberInputWrapper {
  // Fix for full height NumberInput (with extra span for keyboard event handler)
  // keyboard event handler
  > span, 
  // width wrapper
  > span > div, 
  // tooltip wrapper
  > span > div > span {
    display: block;
    height: 100%;
    border-radius: inherit;
  }
}

.breakWord {
  word-break: break-word;
}

.inputCell {
  padding: 0 !important;
}

.sliderCell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.staticCell {
  padding: 0 !important;

  .staticCellContent {
    line-height: 1.25;
    min-height: 100%;
    padding: var(--padding-input);
    position: relative;
    border-radius: inherit;
    display: flex;
    align-items: center;

    tbody & {
      color: var(--color-text-muted);
    }

    &[data-error],
    &[data-warning] {
      border: 1px solid transparent;
    }

    &[data-error] {
      background-color: var(--color-background-error-muted);
    }

    &[data-warning] {
      background-color: var(--color-background-warning-muted);
    }

    &.unit {
      font-weight: normal;
    }
  }
}

.sortingCell {
  .staticCellContent {
    position: relative;
    padding-right: calc(var(--size) + var(--padding-xxs)) !important;
    cursor: pointer !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;

      [data-theme='dark'] & {
        background-color: rgba(white, 0.1) !important;
      }
    }
  }

  .sortingCellIcon {
    font-size: var(--size-xs);
    position: absolute;
    right: var(--padding-input-x);
    top: 50%;
    transform: translateY(-50%);
    display: flex;

    > * {
      display: flex;
    }
  }
}

.icon {
  display: inline-flex;
  margin-left: var(--padding-xxs);
}

.checkBoxCell {
  padding-block: 0 !important;
  width: var(--size);
}

.iconCellWrapper {
  display: flex;
  justify-content: center;
}

.actionsCell {
  width: var(--size-sm);
  padding: 0 calc((var(--size) - var(--size-sm)) / 2) !important;
  position: sticky;
  right: 0;
  background: inherit;
  z-index: 4; // Display above inputs in neighboring cells
}

.rightAligned {
  text-align: right !important;

  .staticCellContent {
    justify-content: flex-end;
  }
}

.centerAligned {
  text-align: center !important;

  .staticCellContent {
    justify-content: center;
  }
}

.leftAligned {
  text-align: left !important;
}

.popover {
  padding: var(--padding-input);
}

.disabledPointerEvents {
  pointer-events: none;
}
