.accordion {
  position: relative;
  color: var(--color-text);

  .accordionHeader {
    display: flex;
    align-items: center;

    .heading {
      flex-grow: 1;
    }

    &.clickable {
      &:hover {
        cursor: pointer;
        > * {
          color: var(--color-text) !important;
        }
      }
    }
  }

  &:not(.bordered) {
    .accordionContent {
      margin-top: var(--padding-xs);
    }
  }

  &.bordered {
    background: var(--color-background-raised);
    box-shadow: var(--shadow-card);
    border-radius: var(--border-radius);

    .accordionHeader,
    .accordionContent {
      border: 1px solid var(--color-border);
      line-height: var(--line-height);
    }

    .accordionHeader {
      padding: var(--padding-xxs) var(--padding-sm);
      border-radius: var(--border-radius);
      background-color: var(--color-background-cardheader);
    }

    &.expanded .accordionHeader {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .accordionContent {
      border-top: none;
      border-radius: 0 0 var(--border-radius) var(--border-radius);

      &.padding {
        padding: var(--padding-sm);
      }
    }
  }

  &.bordered.squareBottom {
    .accordionHeader {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
