.actions {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  > *:not(:last-child) {
    margin-right: var(--padding-xxs);
  }
}

.childComponent {
  display: inline-flex;
}

// TODO: Deprecate these custom styles - align with Button
// Need to check existing usage in wellplan
.actionComponentContainer {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #c8c8c8;
  position: relative;
  z-index: 2;
  transition: color 0.2s;
  line-height: 0; // Strip uneccessary white space

  i {
    margin: 0;
    line-height: 1 !important;
  }

  &:hover,
  &:focus {
    color: var(--color-text-primary-hover);
  }

  &:active,
  &.active {
    color: var(--color-text-primary-active);
  }
}
