.tree {
  position: relative;
}

.toggle {
  display: flex;
  margin-right: var(--padding-xs);
  margin-left: calc(var(--padding-xs) * -1);
  margin-top: calc((var(--line-height) - var(--size-sm)) / 2);
  margin-bottom: calc((var(--line-height) - var(--size-sm)) / 2);
}

.dropTarget {
  position: relative;

  // Draw a border around the drop target
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border: 3px solid var(--color-background-primary);
    z-index: 1;
    pointer-events: none;
    opacity: 0.5;
  }

  > div:first-child {
    background-color: var(--color-background-listitem-active);
  }
}

.draggingSource {
  opacity: 0.2;
}

.placeholderContainer {
  position: relative;
}

// Drag target indicator (horizontal line with dot on left side)

.placeholder {
  background-color: var(--color-background-primary);
  height: 2px;
  border-radius: var(--border-radius-sm);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  z-index: 2;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: var(--color-background-primary);
    transform: translate(-50%, -50%);
  }
}
