.label {
  display: inline-block;
  width: auto;
  margin: 0 0.85714286em 0 0;
  vertical-align: baseline;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-text);
  text-transform: none;
}

.buttonGroup {
  display: inline-flex;
  flex-direction: row;
  vertical-align: baseline;

  > *:not(:last-child) {
    margin-right: -1px;
  }
}
