.addon {
  flex-shrink: 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background: var(--color-background-disabled);
  display: inline-flex;
  align-items: center;
  padding: 0 var(--padding-input-x);
  color: var(--color-text-muted);
  line-height: 1;
}

.small {
  font-size: var(--font-size-sm);
  padding: 0 var(--padding-input-sm-x);
}

.groupOrderFirst,
.groupOrderMiddle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.groupOrderLast,
.groupOrderMiddle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
