@import '../../style/mixins.less';

:root {
  --color-border-message: rgba(black, 0.1);
}

html[data-theme='dark'] {
  --color-border-message: rgba(white, 0.1);
}

.container {
  padding: var(--padding-sm);
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: flex-start;
  line-height: var(--line-height);
  flex-wrap: wrap;
  overflow-y: auto;
  border: 1px solid var(--color-border-message);
  .hideScrollbars();

  &.block {
    display: flex;
  }

  &.info {
    color: var(--color-text-info);
    background-color: var(--color-background-info-muted);
  }

  &.success {
    color: var(--color-text-success);
    background-color: var(--color-background-success-muted);
  }

  &.warning {
    color: var(--color-text-warning);
    background-color: var(--color-background-warning-muted);
  }

  &.error {
    color: var(--color-text-error);
    background-color: var(--color-background-error-muted);
  }
}

.content {
  flex: 1;
  min-width: 0;
}

.heading {
  font-weight: bold;
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  line-height: var(--line-height);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--line-height);
  margin-right: var(--padding-xs);
  font-size: var(--size-xs);
}

.dismiss {
  margin-left: var(--padding);
  color: var(--color-text);

  &.absolute {
    position: absolute;
    top: var(--padding-sm);
    right: var(--padding-sm);
  }
}

.dismiss {
  --offset-message-dismiss: calc((var(--line-height) - var(--size-sm)) / 2);
  display: flex; // Stripe extra whitespace
  margin-top: var(--offset-message-dismiss);
  margin-bottom: var(--offset-message-dismiss);
  margin-right: var(--offset-message-dismiss);
}

.legendToggle {
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 1;
  }
}

.detailsText {
  margin-top: var(--padding-xxs);
  word-break: break-word;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-sm);
  margin-top: var(--padding-xxs);
}
