@import 'rc-slider/assets/index.css';

.rc-slider {
  &:not(.rc-slider-disabled) {
    .rc-slider-rail {
      background-color: var(--color-border);
    }

    .rc-slider-track {
      background-color: var(--color-background-primary);
    }

    .rc-slider-dot {
      border-color: var(--color-border);
    }

    .rc-slider-dot-active {
      border-color: var(--color-background-primary);
    }

    .rc-slider-handle {
      border-color: var(--color-background-primary);

      &:focus {
        border-color: var(--color-background-primary);
        box-shadow: var(--shadow-focus);
      }
    }
  }

  .rc-slider-handle {
    opacity: 1;
  }

  .rc-slider-mark {
    top: 0;
  }

  &-disabled {
    background-color: transparent !important;

    .rc-slider-mark-text,
    .rc-slider-handle,
    .rc-slider-dot {
      cursor: default !important;
    }
  }
}
