.container {
  display: flex;
  align-items: center;
  min-height: var(--size);
  gap: 4px;

  &.small {
    min-height: var(--size-sm);
  }

  &.vertical {
    flex-direction: column;
    padding-bottom: 0;

    .hasArrows {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .button {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.label {
  white-space: nowrap;
  margin-left: var(--padding-xs);
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.dot {
  width: 8px;
  height: 14px;
}
