.menu {
  overflow-y: auto;
  position: relative;
  min-width: 160px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-layer);
  background-color: var(--color-background-layer);
  margin-top: 2px;
}

.header {
  padding: var(--padding-xs) var(--padding-sm);
  display: flex;
  justify-content: space-between;

  a {
    color: var(--color-text-primary);
    font-weight: normal;
    cursor: pointer;

    &:hover {
      color: var(--color-text-primary-hover);
    }

    &:active {
      color: var(--color-text-primary-active);
    }
  }
}

.item {
  padding: var(--padding-xs) var(--padding-sm);
  background: transparent;
  cursor: default;
}

.heading {
  color: var(--color-text-muted);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  padding: var(--padding-xs) var(--padding-sm);
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
